<html>
   
   <head>
      <title>Angular JS Filters</title>
      <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
   </head>
   
   <body ng-app ng-init="friends = [{name:'Jerome', age:33}, {name:'Julien', age:34},{name:'Sylvain', age:28}]">

   		<p> The list is sorted in descending order of age</p>
   		<ul>
   			<li ng-repeat="friend in friends | orderBy:'-age'">
   				{{friend.name}} : <strong>{{friend.age}}</strong>
   			</li>
   		</ul>

   		<p> The list is sorted in ascending order of age</p>
   		<ul>
   			<li ng-repeat="friend in friends | orderBy:'+age'">
   				{{friend.name}} : <strong>{{friend.age}}</strong>
   			</li>
   		</ul>
   </body>


</html>